
%p
  Hello. My name is Paul S. Chun, but I go by
  sixofhearts
  on most things Internet.


%p
  I'm currently CTO at
  = succeed '.' do
    = link_to 'Rivalfox', 'https://rivalfox.com/'
  I previously worked at
  = link_to 'Heyzap', 'https://www.heyzap.com/'
  and on various consulting jobs at places like
  = link_to 'Autodesk', 'http://www.autodesk.com/'
  and
  = succeed '.' do
    = link_to 'Society43', 'http://www.society43.com/'

%p I'm interested in building teams of mindful people that collaborate on creating elegant user experiences, clean code and high-functioning architectures.

%p I'm also interested in the topic of personal growth. I think my favorite part of my job is enabling personal growth as an extension of understanding what motivates a person.

%p
  Some articles I've written recently are:
  %ul
    %li
      Jul 16, 2015 &mdash;
      = link_to "Docker Is Awesome", "#"
    %li
      Jun 1, 2015 &mdash;
      = link_to "Paul Is Awesome", "#"
    %li
      Jul 16, 2015 &mdash;
      = link_to "Docker Is Awesome", "#"
    %li
      Jun 1, 2015 &mdash;
      = link_to "Paul Is Awesome", "#"
    %li
      Jul 16, 2015 &mdash;
      = link_to "Docker Is Awesome", "#"
    %li= link_to "View All Posts &rarr;", "/articles", class: 'view-all'
