.logomark= partial 'logomark'

%ul.nav-links
  %li= link_to "Articles" , '/all_posts'
  %li
    = link_to "R&#233;sum&#233;", '/resume'
    \/
    = link_to "CV", '/curriculum_vitae'
  %li= link_to "Contact Me" , '/contact'

%ul.social-links
  %li
    %a(href="https://www.twitter.com/sixofhearts" target="_blank")
      %i.fa.fa-twitter-square
  %li
    %a(href="https://www.linkedin.com/in/paulschun" target="_blank")
      %i.fa.fa-linkedin-square
  %li
    %a(href="https://github.com/sixofhearts" target="_blank")
      %i.fa.fa-github-square
  %li
    %a(href="mailto:paul@sixofhearts.us")
      %i.fa.fa-envelope-square
