%aside
  %ul
    %li
      .title About the Author
      = gravatar class: 'portrait'
      %p
        Hello. My name is Paul S. Chun, but I go by
        %b sixofhearts
        on most things Internet.
      %p
        I'm currently the CTO at
        = succeed ',' do
          = link_to 'Rivalfox', 'https://rivalfox.com/'
        a Berlin-based team with a SaaS that helps
        you optimize your content marketing strategy based on your
        competitors' successes.
      %p
        I'm enthusiastic about creativity and leadership in technology, and
        this blog is meant to emanate that enthusiasm.
    %li
      .title Contact Me
      = partial 'social_links'

    %li
      .title Recent Posts
      %ul.recent-posts
        = list_of article_feed[0, 3] do |article|
          .timestamp= article.data.published_at.strftime('%b %-e, %Y')
          = link_to article.title, article.url
