---
title: sixofhearts makes things.
layout: false
---

!!!
%html
  %head
    %meta(charset="utf-8")
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    %title= current_page.data.title || 'sixofhearts'
    %link(href="//fonts.googleapis.com/css?family=Alegreya+Sans:100,400,900" rel="stylesheet" type="text/css")
    = stylesheet_link_tag 'all'
  %body
    .homepage
      %p= link_to "Family member or friend? My personal stuff is here &rarr;",
        'http://paul-s-chun.sixofhearts.us/',
        id: "personal-page-link"
      .lesser-column
        = partial 'index__lesser_content'
      .greater-column= partial 'index__greater_content'
      .portrait= partial 'portrait'
    = javascript_include_tag  'all'
